# PYLINT: General settings for FMU modules

[GENERAL]
disable=R0205, F0010

[MASTER]
init-hook='import sys; sys.path.append("src/")'
ignore=_version.py, oyaml.py

[BASIC]
good-names=logger, fmux, xfmu
min-public-methods=0

[FORMAT]
max-line-length=88  # black
max-module-lines=3000

[DESIGN]
max-attributes=25
max-args=20

[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes

[MESSAGES CONTROL]
disable=
    fixme,
    missing-docstring,
    protected-access,
    C0330,
    useless-object-inheritance,
    import-outside-toplevel,
    import-error,
    no-name-in-module
