Sphinx>=1.7.8
astroid
bumpversion>=0.5.3
coverage>=4.1
flake8>=2.6.0
numpy
pandas
pip>=18.0.0
pyaml
pylint
pytest-runner>=4.2
pytest>=3.8
scipy
sphinx_rtd_theme>=0.4.1
tox>=2.3.1
versioneer==0.18
watchdog>=0.8.3
wheel>=0.29.0
