name: codecoverage
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions:
  contents: read
  pull-requests: write

jobs:
  codecov:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      
      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python 3.11
        run: uv python install 3.11

      - name: "Build"
        run: |
          if [ "${{ github.event_name }}" = "schedule" ]; then
            uv sync --all-extras --upgrade
          else
            uv sync --all-extras --frozen
          fi

      - name: Generate coverage report
        run: |
          git clone --depth 1 https://github.com/equinor/xtgeo-testdata ../xtgeo-testdata
          uv run pytest -n auto tests --disable-warnings --cov-report=xml:fmu-tools.xml;

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: fmu-tools.xml
