name: codecoverage
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  codecov:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: "Build"
        run: |
          pip install -U pip
          pip install ".[tests]"

      - name: Generate coverage report
        run: |
          git clone --depth 1 https://github.com/equinor/xtgeo-testdata ../xtgeo-testdata
          pytest -n auto tests --disable-warnings --cov-report=xml:fmu-tools.xml;

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: fmu-tools.xml
